// paleta de colores
$color-principal: #e3c6ee;
$color-secundario: #e1a5f7; 

// fuente
$fuente-principal: Arial, Helvetica, sans-serif;

// estilo de fuente
$estilo-de-fuente: oblique;

// tamaño de fuente
$tamanio-de-fuente: 15px; 

// tamaño de fuente para tablet
$tamanio-tablet: 13px;

//tamaño de fuente para mobile
$tamanio-mobile: 10px;